$bg-color: #f4f4f4;
$red-btn: #d0021b;
$blue-btn: #3498db;
$overlay-bg: rgba(0, 0, 0, 0.4);
$global-aside-bg: #2b2e36;
$color-nav-link: rgba(0, 0, 0, 0.8);
$color-hover-nav-link: #d0021b;
$color-online-support: #62b435;
$lk-notification: #f64747;
$menu-notification: #f64747;
$dont-sale-bg: rgba(23, 191, 180, 0.2);
$dont-sale-color: #16bfb3;
$catalog-item-bg: rgba(0, 0, 0, 0.0001);
$grey-text: rgba(0, 0, 0, 0.8);
$lite-grey-text: rgba(0, 0, 0, 0.4);
$bonuse-bg: rgba(255, 197, 4, 0.2);
$bonuse-color: #333333;
